<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KCET Predictor</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>

<body>
    <div class="glass">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                KCET College Predictor
            </a>
        </div>
    </nav>
</div>
    <div class="container main mobm pcm glass maindiv">
        <h1>Hello !!</h1>
        <div class="container my-4 mobm mobp glass1" style="color: white;">
            <div class="row mb-3 p-0">
                <form class="p-0" id="formInfo">
                    <div class="row mobw mobm">
                        <label for="lrank" class="form-label">Enter the KCET rank range<span style="opacity: 0.5;"> (For example : rank 1000 to rank 10000)</span></label>
                        <input type="number" class="form-control col mx-3" name="lrank" id="lrank" min="1" max="200000"
                            value="{% if lrank %}{{lrank}}{% else %}min{% endif %}" required>
                        <span class="col-1 to-span">TO</span>
                        <input type="number" class="form-control col mx-3" name="urank" id="urank" min="1" max="200000"
                            value="{% if urank %}{{urank}}{% else %}max{% endif %}" required>
                    </div>
                    <div class="row mobw mobm">
                        <div class="col mobp mobm1" >
                            <div class="form-label">Round</div>
                            <select class="form-select" aria-label="Default select example" name="round" id="round">
                                <option value="2022r3" >2022 Round 3</option>
                                <option value="2023r1" >2023 Round 1</option>
                                <option value="2023r2" >2023 Round 2</option>
                                <option value="2023r3" >2023 Round 3</option>
                                <option value="2024r1" >2024 Round 1</option>
                            </select>
                        </div>
                        <div class="col mobp mobm1">
                            <div class="form-label">Category</div>
                            <select class="form-select" aria-label="Default select example" name="cat" id="cat">
                                <option value="GM" >GM</option>
                                <option value="_1G" >1G</option>
                                <option value="_1K" >1K</option>
                                <option value="_1R" >1R</option>
                                <option value="_2AG" >2AG</option>
                                <option value="_2AK" >2AK</option>
                                <option value="_2AR" >2AR</option>
                                <option value="_2BG" >2BG</option>
                                <option value="_2BK" >2BK</option>
                                <option value="_2BR" >2BR</option>
                                <option value="_3AG" >3AG</option>
                                <option value="_3AK" >3AK</option>
                                <option value="_3AR" >3AR</option>
                                <option value="_3BG" >3BG</option>
                                <option value="_3BK" >3BK</option>
                                <option value="_3BR" >3BR</option>
                                <option value="GMK" >GMK</option>
                                <option value="GMR" >GMR</option>
                                <option value="SCG" >SCG</option>
                                <option value="SCK" >SCK</option>
                                <option value="SCR" >SCR</option>
                                <option value="STG" >STG</option>
                                <option value="STK" >STK</option>
                                <option value="STR" >STR</option>
                            </select>
                        </div>
                    </div>
            </div>
            <button type="submit" class="btn btn-secondary" id="submit-button">Submit</button>
        </div>
        {% block colleges %}
        {% endblock colleges %}
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script> -->

</body>

</html>